.pet-details {
  background-color: var(--white-color);
  .ant-card-head {
    border-bottom: 1px solid var(--thirdstream-color);
  }
  .addToCart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 45px;
    z-index: 1;
  }
  &__title {
    font-size: 1.6rem;
    color: var(--mainstream-color);
  }
  &__card-info {
    .ant-card {
      box-shadow: 3px 5px 1px 1px var(--mainstream-color);
      border: 1px solid var(--mainstream-color);
    }
    button {
      top: -20px;
    }
  }
  &__wrap {
    .ant-card-head-title {
      color: var(--mainstream-color);
      font-size: 1.2rem;
    }
    .ant-card-body {
      p {
        font-size: 1rem;
      }
    }
  }
}
