.vision {
  background-color: var(--white-color);
  &__wrap.container {
    margin: 0 auto;
    padding: 2rem;
    max-width: 1230px;
  }
  .ant-card {
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 100%;
  }
  &__title {
    font-weight: bold;
    color: var(--dark-second-color);
  }
  &__desc {
    text-align: justify;
    color: var(--dark-second-color);
  }
  p {
    font-size: 1rem;
  }
}
