:root {
  --mainstream-color: #106eea;
  --secondstream-color: #f6f9fe;
  --thirdstream-color: #e7f1fd;
  --fourthstream-color: #e2eefd;
  --primary-color: #17a2b8;
  --dark-color: #363c44;
  --dark-second-color: #4a4a4a;
  --light-color: #f0f0f0;
  --white-color: #fff;
  --gray-color: #a0a0a0;
  --second-btn-color: #fdd835;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Muli', sans-serif !important;
  font-size: 1rem !important;
  line-height: 1.6 !important;
  color: var(--dark-second-color) !important;
}

.container {
  max-width: 1200px;
  margin: 10rem auto 3rem auto;
  overflow: hidden;
  padding: 0 1rem;
}
.ant-table-thead tr th {
  font-weight: 600 !important;
}
.ck {
  span {
    font-family: 'Muli', sans-serif !important;
  }
}
.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused),
.ck.ck-editor__main > .ck-editor__editable.ck-focused,
.ck.ck-toolbar {
  border: unset !important;
  box-shadow: unset !important;
}
.ck.ck-editor__editable_inline {
  ul,
  ol {
    padding-left: 1.5rem !important;
  }
}
.menu-responsive {
  display: none !important;
}
.menu-showed-responsive {
  a {
    display: block;
    margin: 0 0 1rem 0.5rem;
  }
}
.navbar__user--menu {
  margin: 0;
}
.navbar__search--menu {
  margin: 2rem 0 1rem 0;
}
.profile__select {
  margin: 0 0 1.5rem;
  display: none;
}
.ant-back-top {
  bottom: 120px !important;
}
@media only screen and (max-width: 768px) {
  .navbar__search,
  .navbar__wrap,
  .navbar__info--sign,
  .navbar__user {
    display: none !important;
  }
  .logo {
    margin: auto;
  }
  .home {
    margin-top: 4.75rem !important;
  }
  .menu-responsive,
  .profile__select {
    display: block !important;
  }
  .container {
    margin: 5.5rem auto 3rem auto;
  }
  .vision__wrap.container {
    padding: 2rem 1rem 2rem !important;
  }
}
