:root {
  --mainstream-color: #106eea;
  --primary-color: #17a2b8;
  --dark-color: #363c44;
  --light-color: #f6f6f6;
  --white-color: #fff;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif !important;
  font-size: 1rem !important;
  line-height: 1.6 !important;
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 1rem;
  margin-bottom: 3rem;
  margin-top: 9rem;
}
