:root {
  --mainstream-color: #106eea;
  --secondstream-color: #f6f9fe;
  --thirdstream-color: #e7f1fd;
  --fourthstream-color: #e2eefd;
  --primary-color: #17a2b8;
  --dark-color: #363c44;
  --dark-second-color: #4a4a4a;
  --light-color: #f0f0f0;
  --white-color: #fff;
  --gray-color: #a0a0a0;
  --second-btn-color: #fdd835;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif !important;
  /* font-family: "Lato", sans-serif !important; */
  font-size: 1rem !important;
  line-height: 1.6 !important;
  color: var(--dark-second-color) !important;
}

.container {
  max-width: 1200px;
  margin: 10rem auto 3rem auto;
  overflow: hidden;
  padding: 0 1rem;
}
.ant-table-thead tr th {
  font-weight: 600 !important;
}
.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused),
.ck.ck-editor__main > .ck-editor__editable.ck-focused,
.ck.ck-toolbar {
  border: unset !important;
  box-shadow: unset !important;
}
.ck.ck-editor__editable_inline {
  ul,
  ol {
    padding-left: 1.5rem !important;
  }
}
