.view-order {
  &__total {
    color: var(--mainstream-color);
    text-align: right;
    font-size: 1rem;
  }
  &__name,
  .ant-card-head-title {
    font-weight: 600;
  }
  &__name,
  &__id,
  &__status,
  &__date,
  &__total {
    span {
      color: var(--gray-color) !important;
    }
  }
  .ant-card-bordered {
    border: 1px solid var(--fourthstream-color) !important;
  }
  .ant-card-head {
    border-bottom: 1px solid var(--fourthstream-color) !important;
  }
}
