@import "~react-image-gallery/styles/scss/image-gallery.scss";
.product-details {
  background-color: var(--white-color);
  .ant-comment-content{
    background-color: #f7f7f7;
    padding: 0.65rem;
    border-radius: 5px;
  }
  .ant-comment-inner{
    padding: 0.35rem 0;
  }
  &__title {
    font-size: 1.2rem;
    color: var(--mainstream-color);
  }
  &__images {
    margin-bottom: 1rem;
  }
  &__wrap {
    margin-bottom: 1.5rem;
    .ant-card{
      border-radius: 5px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    }
    .ant-card-head-title {
      color: var(--mainstream-color);
      font-size: 1.2rem;
    }
    .ant-card-body {
      p {
        font-size: 1rem;
      }
    }
  }
  .show-products__wrap.container{
    margin: 1rem auto;
  }
}
