@import "~react-image-gallery/styles/scss/image-gallery.scss";
.product-details {
  background-color: var(--white-color);
  &__title {
    font-size: 1.2rem;
    color: var(--mainstream-color);
  }
  &__card-info {
    .ant-card {
      box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.1);
    }
  }
  &__images {
    margin-bottom: 1rem;
  }
  &__wrap {
    margin-bottom: 1.5rem;
    .ant-card-head-title {
      color: var(--mainstream-color);
      font-size: 1.2rem;
    }
    .ant-card-body {
      p {
        font-size: 1rem;
      }
    }
  }
}
