.navbar__wrap-actions--cart {
  position: relative;
  a {
    display: flex;
    align-items: center;
  }
  .cart__count {
    height: 18px;
    width: 18px;
    display: inline-block;
    border-radius: 50%;
    color: var(--white-color);
    background-color: var(--mainstream-color);
    font-size: 0.85rem;
    font-weight: 500;
    text-align: center;
    position: absolute;
    top: -5px;
    right: 5px;
  }
}
// .navbar__wrap-actions--cart a {
//   display: flex;
//   align-items: center;
// }
