.category {
  background-color: var(--white-color);
  .ant-card {
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  }
  &__wrap.container {
    margin: 0 auto;
    padding: 1rem;
  }
  &__content {
    margin: 1rem auto;
  }
  &__heading {
    text-align: center;
    font-size: 1rem;
    color: var(--mainstream-color);
    padding: 0.5rem 0.75rem;
    width: fit-content;
    border-radius: 20px;
    margin: auto;
    background-color: var(--thirdstream-color);
    font-weight: 600;
  }
  &__title {
    text-align: center;
    font-size: 1.5rem;
    margin: 0.75rem auto;
    span {
      color: var(--mainstream-color);
      font-weight: bold;
    }
  }
  &__desc-head {
    text-align: center;
    max-width: 500px;
    padding: 0 1rem 1rem 1rem;
    margin: auto;
    font-weight: 500;
    color: var(--dark-second-color);
  }
  &__desc {
    text-align: center;
    font-size: 1.2rem;
    color: var(--dark-second-color);
  }
  .ant-card:hover &__desc {
    color: var(--mainstream-color);
  }
}
