.navbar {
  &__user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0.5rem;

    &--avt {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      padding: 0.25rem;
      margin: 0.25rem;
      cursor: pointer;
    }
    &--action {
      z-index: 10;
      position: absolute;
      right: 2%;
      top: 85%;
      box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
      border: 1px solid var(--light-color);
      border-radius: 3px;
      padding: 1rem;
      background-color: var(--white-color);
      display: none;
      min-width: 200px;
      cursor: pointer;
    }
    &:hover &--action {
      display: block;
    }
    &--action-link {
      padding-left: 0;
      list-style: none;
      word-break: break-word;
      margin: 0;
    }

    &--action-link-item {
      padding: 0.5rem;
      display: block;
      border-radius: 5px;
      color: var(--dark-second-color) !important;
    }
    &--action-link-item.name {
      font-weight: 600;
    }
    li:hover &--action-link-item {
      color: var(--mainstream-color) !important;
      background-color: var(--thirdstream-color);
    }
    &--action-connect {
      width: 60px;
      height: 20px;
      background-color: transparent;
      position: absolute;
      bottom: 12%;
      right: 5%;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}
