.activate {
  background-color: var(--white-color);
  &__content {
    padding: 1rem 0;
  }
  &__title {
    text-align: center;
    font-size: 1.8rem;
    color: var(--mainstream-color);
  }
  .ant-card {
    box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.1);
  }
}
