.navbar {
  &__user {
    margin: 0 1rem;
    &--role {
      color: var(--dark-second-color);
      margin: 0.5rem;
      font-size: 0.7rem;
      font-weight: 600;
      padding: 0.25rem 0.5rem;
      background-color: var(--fourthstream-color);
      border-radius: 10px;
    }
    &--avt {
      width: 35px;
      height: 35px;
      object-fit: cover;
      border-radius: 50%;
      cursor: pointer;
    }
    &--action {
      z-index: 10;
      position: absolute;
      right: 1%;
      top: 85%;
      box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
      border: 1px solid var(--light-color);
      border-radius: 3px;
      padding: 1rem;
      background-color: var(--white-color);
      display: none;
      min-width: 180px;
      cursor: pointer;
    }

    &--action-link {
      padding-left: 0;
      list-style: none;
      word-break: break-word;
      margin: 0;
    }

    &--action-link-item {
      line-height: 2rem !important;
      padding: 0.5rem;
      display: block;
      border-radius: 5px;
      color: var(--dark-second-color) !important;
    }
    &--action-link-item.name {
      font-weight: 600;
    }
    li:hover &--action-link-item {
      color: var(--mainstream-color) !important;
      background-color: var(--thirdstream-color);
    }
    &--action-connect {
      width: 60px;
      height: 25px;
      background-color: transparent;
      position: absolute;
      right: 1.5%;
      top: 70%;
      border-radius: 10px;
      cursor: pointer;
    }
    &:hover &--action,
    &--action-connect:hover &--action {
      display: block;
    }
  }
}
