.order {
    &__wrap {
        padding: 1rem;
    }
    .ant-card {
        box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
    }
    &__title {
        margin-bottom: 1rem;
    }
    &__order &__products--content:last-child {
        border-bottom: unset;
    }
    &__total,
    &__fee {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
    }
    &__fee {
        font-size: 0.9rem;
    }
    &__update-cart {
        display: flex;
        align-items: center;
        a {
            margin-left: 0.5rem;
        }
    }
    #order__total {
        color: var(--mainstream-color);
    }
    &__products {
        max-height: 664px;
        overflow-y: auto;
        font-size: 1rem;
        margin-bottom: 1rem;
        &--content {
            display: flex;
            border-bottom: 1px solid var(--light-color);
            padding: 1rem 0;
        }
        &--info {
            margin-left: 1rem;
        }
        &--name {
            margin-bottom: 0.5rem;
            display: inline-block;
            color: var(--mainstream-color);
        }
        &--price,
        &--amount {
            margin-bottom: 0.5rem;
            color: var(--dark-second-color);
        }
    }
    button {
        font-size: 1rem;
        height: 50px;
    }
}
