.order-processing {
  margin: auto 1rem;
  &__title {
    color: var(--gray-color);
  }
  &__status {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--mainstream-color);
  }
  &__actions {
    text-align: right;
  }
  .ant-card{
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
  }
}
.order-processing-loader {
  text-align: center;
}
