.order-processing {
  margin-bottom: 1rem;
  &__title {
    color: var(--gray-color);
  }
  &__status {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--mainstream-color);
  }
  &__actions {
    text-align: right;
  }
}
.order-processing-loader {
  text-align: center;
}
