.login {
  height: 100vh;
  &__wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content {
    width: 100%;
    padding: 1rem;
  }
  &__title {
    text-align: center;
    font-size: 1.8rem;
    color: var(--mainstream-color);
  }
  .ant-card {
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  }
}
