@mixin _center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.coupon {
    &__wrap {
        position: relative;
        width: 100%;
        height: 132px;
        padding: 0.5rem;
        overflow: hidden;
        display: flex;
        border-radius: 10px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    }
    &__left {
        height: 100%;
        width: 116px;
        border-radius: 10px;
        @include _center;
        background-color: var(--mainstream-color);
        opacity: 0.85;
        word-break: break-word;
    }
    &__logo {
        color: var(--light-color);
        font-weight: bold;
        font-size: 1.3rem;
        padding: 0 0.25rem;
    }
    &__divide {
        height: 100%;
        border: 1px dashed #efefef;
        margin: 0 0.5rem;
    }
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--info {
            p,
            h4 {
                margin-bottom: 0;
            }
            h4 {
                font-weight: bold;
                color: var(--dark-second-color);
            }
            p {
                font-size: 0.85rem;
            }
            span {
                font-weight: bold;
                background-color: var(--thirdstream-color);
                padding: 0.25rem;
                border-radius: 10px;
                font-size: 0.75rem;
                color: var(--mainstream-color);
            }
        }
        &--date {
            p {
                margin-bottom: 0;
                font-size: 0.75rem;
                color: var(--gray-color);
            }
        }
    }
    &__select,
    &__close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1rem;
        font-weight: bold;
        padding: 0.1rem 0.5rem;
        cursor: pointer;
        color: var(--light-color);
        opacity: 0.85;
        border-bottom-left-radius: 10px;
    }
    &__close {
        background-color: var(--mainstream-color);
    }
    &__select {
        background-color: var(--danger-color);
    }
}
