.cartHome {
    background-color: #fff;
}
.cart-title {
    font-size: 1.7rem;
    color: var(--mainstream-color);
}
.cartHome ul {
    display: none;
}
.cart-total {
    margin: 1rem auto;
    font-size: 1.2rem;
    font-weight: 500;
    float: right;
}
#cart-total {
    color: var(--mainstream-color);
}
