.profile {
  &__main {
    &--wishlist {
      &-wrap {
        img {
          margin-right: 1rem;
        }
        display: flex;
      }
      .wishlist-loader {
        text-align: center;
      }
      .ant-row {
        margin-bottom: 0 !important;
      }
      .ant-card{
        border-radius: 5px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      }
      &-name,
      &-price,
      &-rate {
        margin-bottom: 0;
      }
      &-name {
        font-size: 1rem;
        a {
          color: var(--dark-second-color);
        }
      }
      &-price {
        margin-top: 0.3rem;
        color: var(--mainstream-color);
      }
    }
  }
}
