.products-type {
    background-color: var(--white-color);
    &__content {
        padding: 1rem 0;
    }
    &__header {
        margin-bottom: 1rem;
        &-title {
            font-size: 0.9rem;
        }
    }
    &__desc {
        font-size: 1.2rem;
        color: var(--dark-second-color);
        text-align: center;
    }
    .ant-card:hover &__desc {
        color: var(--mainstream-color);
    }
    &__large-skeleton,
    &__small-skeleton {
        .ant-skeleton-element {
            width: 100%;
            display: block;
        }
    }
    &__large-skeleton {
        margin-bottom: 1rem;
        .ant-skeleton-element .ant-skeleton-input-lg {
            height: 220px;
        }
    }
}
