.experience {
  background-color: var(--white-color);
  &__wrap.container {
    margin: 3rem auto;
    padding: 1rem;
  }
  .ant-card-body {
    padding: 0.5rem;
  }
  &__heading {
    text-align: center;
    font-size: 1rem;
    color: var(--mainstream-color);
    padding: 0.5rem 0.75rem;
    width: fit-content;
    border-radius: 20px;
    margin: auto;
    background-color: var(--thirdstream-color);
    font-weight: 600;
  }
  &__title {
    text-align: center;
    font-size: 1.8rem;
    margin: 0.75rem auto;
    span {
      color: var(--mainstream-color);
      font-weight: bold;
    }
  }
  &__desc-head {
    text-align: center;
    max-width: 500px;
    padding: 0 1rem 1rem 1rem;
    margin: auto;
    font-weight: 500;
    color: var(--dark-second-color);
  }
  &__content {
    position: relative;
  }
  &__image {
    border-radius: 2px;
  }
}
