.cart {
  background-color: var(--white-color);
  .ant-card {
    box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
  }
  .ant-card-head-title {
    font-size: 1.4rem;
  }
  .ant-input-number {
    margin-right: 1rem;
  }
  &__wrap &__content:last-child {
    border-bottom: unset;
  }
  &__items {
    max-height: 800px;
    overflow-y: auto;
  }
  &__content {
    display: flex;
    border-bottom: 1px solid var(--light-color);
    padding: 1rem 0;
  }
  &__product {
    &--info {
      margin-left: 1rem;
    }
    &--name {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      display: inline-block;
    }
    &--price {
      font-size: 1rem;
    }
  }
  &__empty {
    text-align: center;
  }
  &__title {
    font-size: 1.7rem;
    color: var(--mainstream-color);
  }
  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    font-size: 1.2rem;
    font-weight: 500;
  }
  #cart__total {
    color: var(--mainstream-color);
  }
  &__checkout {
    font-size: 1rem;
    height: 50px;
  }
}
