.pets {
  background-color: var(--white-color);
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  &__header-title {
    font-size: 0.9rem;
  }

  &__price {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
  }
  .addToCart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: -40px;
    z-index: 1;
  }
  .ant-card {
    box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
    .ant-card-body {
      position: relative;
      .ant-card-meta-title {
        font-weight: 300;
        margin-bottom: 1rem;
      }
    }
  }
}
