.view-order {
  &__total {
    color: var(--mainstream-color);
    font-size: 1rem;
  }
  .ant-card{
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  }
  &__name,
  .ant-card-head-title {
    font-weight: 600;
  }
  &__name,
  &__id,
  &__status,
  &__date,
  &__total {
    span {
      color: var(--gray-color);
    }
  }
}
