.products {
  background-color: var(--white-color);
  &-list {
    &__wrap {
      text-align: center;
      margin-bottom: 1.5rem;
    }
    &__image-skeleton,
    &__star-skeleton,
    &__price-skeleton {
      margin-bottom: 0.5rem;
      .ant-skeleton-element {
        width: 100%;
        display: block;
      }
    }
    &__image-skeleton {
      .ant-skeleton-element .ant-skeleton-input-lg {
        height: 220px;
      }
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  &__header-title {
    font-size: 0.9rem;
  }
  &__header-filter{
    max-width: 250px;
    width: 100%;
  }
  &__name {
    margin-bottom: 0rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    color: var(--dark-second-color);
  }
  &__price {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
    display: inline;
    margin-right: 0.5rem;
  }
  &__discount{
    font-size: 13px;
    line-height: 20px;
    border-radius: 2px;
    background: rgb(255, 66, 78);
    color: white;
    padding: 0px 2px;
  }
  .addToCart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 130px;
    z-index: 1;
  }
  .ant-card {
    height: 100%;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    .ant-card-body {
      height: 100%;
      position: relative;
      padding: 0;
      .ant-card-meta-title {
        font-weight: 300;
        margin-bottom: 1rem;
      }
      img{
        width: 100%;
        max-height: 250px;
        height: 100%;
      }
    }
  }

  @media (max-width: 46.1875em) {
    .products__price {
      font-size: 1rem;
    }
  }
}
